body {
      color: #333333;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      margin-left: auto;
      margin-right: auto;
      width: 940px;

    }

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px
}

p {
    padding: 0 40px;
    text-indent: 15px;
}

figure {
        background-color: #F2EDED;
        border: 1px solid #ccc;
        text-align: center;
        padding:15px;
        margin: 30px;
} 

#centro-distribuição {
    margin-left: auto;
    margin-right: auto;
    width: 550px
}

#rodapé {
    color: #777;
    margin: 30px;
    padding: 30px;
}

#rodapé img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho {
    float: left;
    margin: 0 1 10px 10px;
}

figcaption {
        font-style: italic;
        margin: 10px;

} 